ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    background-color: white;
    margin-right: 100px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 100px;
}

li {
    margin: 24px 15px 15px 15px;
    list-style-type: none;
    font-size: 1.2em;

}

nav a:link {
    color: darkgray;
    text-decoration: none;
}

nav a:visited {
    color: darkgray;
    text-decoration: none;
}

nav a:hover {
    color: darkgray;
    text-decoration: underline;
}

nav a:active {
    background-color: darkgray;
    color: white;
    text-decoration: underline;
}

svg {
    width: 220px;
    margin-top: -200px;
    margin-bottom: -150px;
    margin-left: 100px;
    display: block;
}

.line {
    fill: white;
    stroke: pink;
    stroke-width: 5;
    stroke-dasharray: 101;
    stroke-dashoffset: 101;
}

.draw {
    animation: draw 1s linear forwards;
}

.front-p {
    border-color: yellow;
    border-style: solid;
    background-color: white;
    margin: 0 100px 0 100px;
    text-align: center;
    padding: 100px;
}

.front-p a:link {
    color: black;
    text-decoration: none;
}

.front-p a:any-link {
    text-decoration: none;
    color: black;
}

.front-p a:visited {
    text-decoration: none;
}

.front-p a:hover {
    text-decoration: none;
}

.front-p a:active {
    text-decoration: none;
}

.headliner {
    font-size: 5em;
}

@keyframes draw {
    50% {
        stroke-dashoffset: 0;
        fill: white;
    }

    100% {
        stroke-dashoffset: 0;
        fill: pink;
    }
}

#grid-about-page {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 250px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". b1 b2 ."
        ". b3 b4 ."
}

#pic-1 {
    grid-area: b1;
    margin: 0 5px 5px 5px;
}

#about {
    grid-area: b2;
    margin: 0 5px 5px 5px;
}

#about2 {
    grid-area: b3;
    margin: 0 0px 5px 5px;
}

#pic-2 {
    grid-area: b4;
    margin: 0 5px 5px 200px;
}

/*
img {
    align-items: center;
}
*/

h1,
h2,
h3 {
    color: darkgray;
    font-family: "Avenir next", sans-serif;
}

p {
    font-family: "Avenir next", sans-serif;
}

a {
    font-family: "Avenir next", sans-serif;
}

#grid-portfolio-page {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 250px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". f1 f2 ."
        ". f3 f4 ."
}

.bw {
    height: 40vw;
    width: 40vw;
    grid-area: f1;
    margin: 5px 10px 5px 5px;
    background: darkgray;
    text-align: center;
    line-height: 400px;
    animation: animate 1.5s infinite;
}


.bw:hover {
    opacity: .7;
    border-radius: 50%;
    color: yellow;
}

.bu {
    height: 40vw;
    width: 40vw;
    grid-area: f2;
    margin: 5px 10px 5px 5px;
    background: darkgray;
    text-align: center;
    line-height: 400px;
    animation: animate 10.5s infinite;
}

.bu:hover {
    opacity: .7;
    border-radius: 50%;
    color: yellow;
}

.ba {
    height: 40vw;
    width: 40vw;
    grid-area: f3;
    margin: 7px 10px 5px 5px;
    background: darkgray;
    text-align: center;
    line-height: 65vh;
    animation: animate 1.5s infinite;
}

.ba:hover {
    opacity: .7;
    border-radius: 50%;
    color: yellow;
}

.bc {
    height: 40vw;
    width: 40vw;
    grid-area: f4;
    margin: 7px 10px 5px 5px;
    background: darkgray;
    text-align: center;
    line-height: 65vh;
    animation: animate 1.5s infinite;
}

.bc:hover {
    opacity: .7;
    border-radius: 50%;
    color: yellow;
}

.port {
    text-align: center;
    height: auto;
    padding: 35% 0;
}

/*Link for Basic web*/

.bw a:any-link {
    text-decoration: none;
    margin-top: 300px;
}

.bw a:visited {
    color: white;
    text-decoration: none;
}

.bw a:hover {
    color: yellow;
    text-decoration: underline;
}

.bw a:active {
    color: yellow;
    text-decoration: underline;
}


/*Link for Basic UX*/

.bu a:any-link {
    text-decoration: none;
}

.bu a:visited {
    color: white;
    text-decoration: none;
}

.bu a:hover {
    color: yellow;
    text-decoration: underline;
}

.bu a:active {
    color: yellow;
    text-decoration: underline;
}


/*Link for Basic Animation*/

.ba a:any-link {
    text-decoration: none;
}

.ba a:visited {
    color: white;
    text-decoration: none;
}

.ba a:hover {
    color: yellow;
    text-decoration: underline;
}

.ba a:active {
    color: yellow;
    text-decoration: underline;
}


/*Link for Basic Content*/

.bc a:any-link {
    text-decoration: none;
}

.bc a:visited {
    color: white;
    text-decoration: none;
}

.bc a:hover {
    color: yellow;
    text-decoration: underline;
}

.bc a:active {
    color: yellow;
    text-decoration: underline;
}



/*Links for projects*/

.ext-links a:visited {
    color: black;
    text-decoration: underline;

}

.ext-links a:hover {
    color: black;
    text-decoration: underline;

}

.ext-links a:active {
    color: black;
    text-decoration: underline;
}



#grid-web {
    display: grid;
    grid-template-columns: 200px 1fr 470px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". w1 ."
}

.web {
    grid-area: w1;
}

#grid-ux {
    display: grid;
    grid-template-columns: 200px 1fr 470px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". u1 ."
}

.ux {
    grid-area: u1;
}

#grid-animation {
    display: grid;
    grid-template-columns: 200px 1fr 470px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". a1 ."
}

.animation {
    grid-area: a1;
}

#grid-content {
    display: grid;
    grid-template-columns: 200px 1fr 470px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". c1 ."
}

.content {
    grid-area: c1;
}

/*Footer*/

.mail a:any-link {
    color: darkgray;
    text-decoration: none;
}

.mail a:visited {
    color: darkgray;
    text-decoration: none;
}

.mail a:hover {
    color: darkgray;
    text-decoration: underline;
}

.mail a:active {
    color: darkgray;
    text-decoration: underline;
}

#grid-footer {
    display: grid;
    grid-template-columns: 100px 1fr 350px;
    grid-template-rows: 1fr;
    grid-template-areas:
        ". f1 ."
}

.mail {
    grid-area: f1;
    color: darkgray;
    background-color: white;
    margin-top: 10%;
}

/*footer ends*/

@media screen and (max-width: 1200px) {
    #grid-web {
        display: grid;
        grid-template-columns: 150px 650px 250px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". w1 ."
    }

    #grid-ux {
        display: grid;
        grid-template-columns: 150px 650px 250px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". u1 ."
    }

    #grid-animation {
        display: grid;
        grid-template-columns: 150px 650px 250px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". a1 ."
    }

    #grid-content {
        display: grid;
        grid-template-columns: 150px 650px 250px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". c1 ."
    }

    #grid-about-page {
        display: grid;
        grid-template-columns: 10px 1fr 1fr 50px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            ". b1 b2 ."
            ". b3 b4 ."
    }

    #pic-2 {
        grid-area: b4;
        margin: 0 5px 5px 20px;
    }

    img {
        height: 200px;
    }

    .logo-color {
        height: 100px;
    }
}

@media screen and (max-width: 810px) {
    #grid-content {
        grid-template-columns: 100px 1fr 250px;
    }

    ul {
        float: none;
    }

    svg {
        width: 220px;
        margin-top: -100px;
        margin-bottom: -150px;
        margin-left: 60px;
        display: block;
    }

    #grid-footer {
        display: grid;
        grid-template-columns: 100px 1fr 10px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". f1 ."
    }

    #grid-portfolio-page {
        display: grid;
        grid-template-columns: 30% 1fr 30%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". p1 ."
            ". p2 ."
            ". p3 ."
            ". p4 ."
    }

    .bw {
        height: 40vw;
        width: 40vw;
        grid-area: p1;
        margin: 5px 5px 5px 5px;
        background: darkgray;
        text-align: center;
        line-height: 300px;
        animation: animate 1.5s infinite;
    }

    .bu {
        height: 40vw;
        width: 40vw;
        grid-area: p2;
        margin: 5px 10px 5px 5px;
        background: darkgray;
        text-align: center;
        line-height: 300px;
        animation: animate 10.5s infinite;
    }

    .ba {
        height: 40vw;
        width: 40vw;
        grid-area: p3;
        margin: 7px 10px 5px 5px;
        background: darkgray;
        text-align: center;
        line-height: 300px;
        animation: animate 1.5s infinite;
    }

    .bc {
        height: 40vw;
        width: 40vw;
        grid-area: p4;
        margin: 7px 10px 5px 5px;
        background: darkgray;
        text-align: center;
        line-height: 300px;
        animation: animate 1.5s infinite;
    }

    #grid-web {
        display: grid;
        grid-template-columns: 10px 500px 150px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". w1 ."
    }

    .web {
        grid-area: w1;
    }

    #grid-ux {
        display: grid;
        grid-template-columns: 10px 500px 150px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". u1 ."
    }

    .ux {
        grid-area: u1;
    }

    #grid-animation {
        display: grid;
        grid-template-columns: 10px 500px 150px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". a1 ."
    }

    .animation {
        grid-area: a1;
    }

    #grid-content {
        display: grid;
        grid-template-columns: 10px 500px 150px;
        grid-template-rows: 1fr;
        grid-template-areas:
            ". c1 ."
    }

    .content {
        grid-area: c1;
        padding: 0 30px 0 0;
    }

    .front-p {
        border-color: yellow;
        border-style: solid;
        background-color: white;
        margin: 0 10px 0 10px;
        text-align: center;
        padding: 50px;
    }

    #grid-about-page {
        display: grid;
        grid-template-columns: 6px 1fr 25px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". b1 ."
            ". b2 ."
            ". b3 ."
            ". b4 ."
    }

    img {
        padding: 0 20vw;
    }

    #pic-1 {
        grid-area: b1;
        padding: 0 10px 0 4px;
    }

    #about {
        grid-area: b2;
        padding: 0 10px 0 4px;
    }

    #about2 {
        grid-area: b3;
        padding: 0 10px 0 4px;
    }

    #pic-2 {
        grid-area: b4;
        padding: 0 10px 0 4px;
    }

    img {
        padding: 0 0;
    }

    .logo-color {
        padding: 0 0 20px 0;
        height: 200px;
    }

    #grid-footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "f1"
    }

    @media screen and (max-width: 550px) {
        #grid-content {
            grid-template-columns: 10px 1fr 10px;
        }

        header a {
            display: block;
            float: none;
            text-align: left;
            position: relative;
        }

        ul {
            float: none;
        }

        #grid-footer {
            display: grid;
            grid-template-columns: 20px 1fr 35px;
            grid-template-rows: 1fr;
            grid-template-areas:
                ". f1 ."
        }

        .front-p {
            border-color: yellow;
            border-style: solid;
            background-color: white;
            text-align: center;
            padding: 50px;
        }

        .headliner {
            font-size: 2em;
        }

        #grid-web {
            display: grid;
            grid-template-columns: 2px 1fr 2px;
            grid-template-rows: 1fr;
            grid-template-areas:
                ". w1 ."
        }

        .web {
            grid-area: w1;
        }

        #grid-ux {
            display: grid;
            grid-template-columns: 2px 1fr 2px;
            grid-template-rows: 1fr;
            grid-template-areas:
                ". u1 ."
        }

        .ux {
            grid-area: u1;
        }

        #grid-animation {
            display: grid;
            grid-template-columns: 2px 1fr 2px;
            grid-template-rows: 1fr;
            grid-template-areas:
                ". a1 ."
        }

        .animation {
            grid-area: a1;
        }

        #grid-content {
            display: grid;
            grid-template-columns: 2px 550px 2px;
            grid-template-rows: 1fr;
            grid-template-areas:
                ". c1 ."
        }

        .content {
            grid-area: c1;
            padding: 0 30px 0 0;
        }


        #grid-about-page {
            display: grid;
            grid-template-columns: 7px 1fr 7px;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                ". b1 ."
                ". b2 ."
                ". b3 ."
                ". b4 ."
        }

        img {
            padding: 0 10vw;
        }

        #pic-1 {
            grid-area: b1;
            padding: 0 5px;
        }

        #about {
            grid-area: b2;
            padding: 0 5px;
        }

        #about2 {
            grid-area: b3;
            padding: 0 5px;
        }

        #pic-2 {
            grid-area: b4;
            padding: 0 5px;
        }

        img {
            padding: 0 0;
            height: 150px;
        }

        .logo-color {
            height: 100px;
            padding-left: 25px;
        }
    }
